body{
    display: flex;
    justify-content: center;
    background: #333;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
}
.border{
    border: 2px solid red !important;
}
a{
    text-decoration: none !important;
    color: #0a8aff;
}
.body{
    background: #111;
    border-radius: 4px;
    width: 400px;
    height: 450px;
    box-sizing: border-box;
    box-shadow:  10px 10px 100px #111,
             0px -20px 40px #111;
}
.header{
    border-bottom: 1px solid black;
    padding: 10px 0;
    color: white;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    margin: 0;
    font-size: 25px;
}
.infor{
    color: #5a6060;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px 10px;
    text-transform: uppercase;
}
.input{
    text-align: center;
    padding-bottom: 10px;
}
.cssInput{
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #25262a;
    color: white;
}

.email{
    position: absolute;
}
.pos{
    position: absolute;
}
.noValue{
    color: red;
    padding-left: 20px;
}
.none{
    display: none;
}

.checkbox{
    color: white;
    padding: 20px 10px;
}
.checkbox input{
    width: 18px;
    height: 18px;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}
label{
    width: 100%;
}
.bot{
    color: #003c9f;
    display: flex;
    padding: 20px 0;
    line-height: 40px;
    justify-content: space-around;
    align-items: center;
}
.bot button{
    height: 40px;
    width: 100px;
    background: #0a8aff;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
}